{% extends "common.html" %}
{% block content %}
{% load static %}
<h5 style="padding: 1em; text-align: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; ">Welcome to dashborad</h5>
<div style="padding-inline: 5em;">
    <table class="table table-striped" >
        <tr class="table-dark" >
         <th>Name</th>
         <th>Email</th>
         <th>Phone Number</th>
         <th>Username</th>
         <th>Password</th>
         <th></th>
         
        </tr>
        {% for i in  admins%}
     
         <tr>
     
             <td>{{i.name}}</td>
             <td>{{i.email}}</td>
             <td>{{i.phone}}</td>
             <td>{{i.username}}</td>
             <td>{{i.password}}</td>
             <td><a href="{% url "viewadmin" i.id %}"><button  class="btn btn-outline-danger" >view</button></a></td>
             
         </tr>
         {% endfor %}
     </table>  
     

</div>

{% endblock content %}